<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.traincensus">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon1"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Report"></activity>
        <activity android:name=".Homepage" />
        <activity android:name=".ViewOptionActivity" />
        <activity
            android:name=".Viewcensusofficer"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Divassign"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Fucounting"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Fumessage"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Welcomescreen"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".Splashscreen"
            android:screenOrientation="userPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mainscreen" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>